.popupMessage-external {
    display: flex;
    flex-direction: column;
    width: 340px;
    background-color: white;
    position: absolute;
    bottom: 35px;
}

.popupMessage-external:hover{
    cursor: pointer;
}

.popupMessage-internal {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: inherit;
}

.popupMessage-Bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #333;
}

.popupMessage-txt{
    display: flex;
    align-items: center;
}
.popupMessage-error {
    font-size: 50px;
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'opsz' 48, 'wght' 200, 'FILL' 0, 'GRAD' -50;
}
