@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500;1,700&display=swap');

.loginPage-external{
    display: flex;
    justify-content: center;
    height: 100%;
    align-content: center;
    align-items: center;
}

.loginPage-internal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 282px;
}

.loginPage-external .loginPage-internal .loginPage-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    gap: 5px
}

.loginPage-external .loginPage-internal span{
    color: white;
    font-family: 'Playfair Display', serif;
}

.loginPage-external .loginPage-internal .loginPage-logo-high{
    font-weight: 700;
    font-size: 46px;
    font-style: italic;
}

.loginPage-external .loginPage-internal .loginPage-logo-low{
    font-size: 20px;
    /* font-weight: 500; */
    /* font-style: italic; */

}
.loginPage-external .loginPage-internal .loginPage-logo .loginPage-logo-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage-external .loginPage-internal .loginPage-logo .loginPage-logo-img img {
    /* max-width: 20%; */
    max-width: 280px;
    height: auto;
}

.loginPage-external .loginPage-internal .loginPage-other .loginPage-inputs form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

.loginPage-external .loginPage-internal .loginPage-other .loginPage-inputs form .loginPage-inputs-txt {
    padding: 4px;
    margin: 0;
    outline: none;
    border-style: none;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 1px 10px 35px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 10px 35px -1px rgba(0,0,0,1);
    -moz-box-shadow: 1px 10px 35px -1px rgba(0,0,0,1);
}

.loginPage-external .loginPage-internal .loginPage-other .loginPage-inputs form .loginPage-inputs-submit{
    background: white;
    color: rgb(68, 68, 68);
    border: none;
    padding: 6px 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
    box-shadow: 1px 10px 35px -8px rgba(0,0,0,1);
-webkit-box-shadow: 1px 10px 35px -8px rgba(0,0,0,1);
-moz-box-shadow: 1px 10px 35px -8px rgba(0,0,0,1);
}


.loginPage-external .loginPage-internal .loginPage-logo-imgC img {
    /* max-width: 20%; */
    max-width: 187px;
    height: auto;
}