.MovieComponent-external {
    width: 100%;
    display: flex;
    justify-content: center;
}

.MovieComponent-internal {
    display: flex;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 9px 9px 0 rgb(0 0 0 / 9%), 0 23px 50px 0 rgb(0 0 0 / 34%);
    background-color: white;
    color: black;
    /* width: 80%; */
    min-width: 100%;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.MovieComponent-external .MovieComponent-internal .movieC-middle {
    width: 100%;
}

.MovieComponent-external .MovieComponent-internal .movieC-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MovieComponent-external .MovieComponent-internal .movieC-bottom .movieCBot-right-top-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    top: -55px;
    left: -40px;
    padding: 20px;
}

.MovieComponent-external .MovieComponent-internal .movieC-bottom .movieCBot-right-right .material-icons:hover,
.movieCBot-right-right .movieCBot-right-container .material-icons:hover {
    cursor:pointer;
}


.movieCBot-right-right .material-icons, .movieCBot-right-right .movieCBot-right-container .material-icons {
    font-size: 34px;
    text-shadow: 3px 2px 15px #1b1b1b;
    color: rgb(255, 255, 255);
    user-select: none;
}

.md-green {
    color: rgb(6, 167, 28) !important;
    text-shadow: 3px 2px 15px rgb(0, 255, 0) !important;

}

.md-red {
    color: rgb(209, 1, 1) !important;
    text-shadow: 3px 2px 15px rgb(255, 0, 0) !important;

}

.movieCBot-right-right
{
    display: flex;
    position: relative;
}

.movieCBot-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.movieCBot-right-bot-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 9px 9px 0 rgb(0 0 0 / 9%), 0 23px 50px 0 rgb(0 0 0 / 34%);

    position: absolute;
    top: -10px;
    right: 40px;
    width: max-content;
}

@media only screen and (max-width: 900px) {
    .MovieComponent-internal {
        width: 80%;
        min-width: unset !important;
    }
}

.movieC-bottom .movieCBot-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
}

.movieC-bottom .movieCBot-left .movieCBot-left-days{
    font-size: 12px;
    color: #1b1b1bb8;
    user-select: none;
}

.movieC-bottom .movieCBot-left .movieCBot-left-days-tooltip{
    font-size: 15px;
    color: #1b1b1b;
    display: flex;
    position: absolute;
    top: 20px;
    right: -60px;
}

.movieC-bottom .movieCBot-left .movieCBot-left-days:hover{
    cursor:default;
}

.movieCBot-right .movieCBot-right-left {
    position: relative;
}

.movieCBot-right .movieCBot-right-left .movieCBot-right-left-inner {
    background-color: white;
    border-radius: 180px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
}

.movieCBot-right .movieCBot-right-left .movieCBot-right-left-inner .movieCBot-right-left-center{
    display: flex;
    gap: 10px;
    padding: 0 5px;
}

.movieCBot-right .movieCBot-right-left .movieCBot-right-left-inner .movieCBot-right-left-mood,
.movieCBot-right .movieCBot-right-left .movieCBot-right-left-inner .movieCBot-right-left-dissat{
    font-size: 24px;
}

.movieCBot-right-left .movieCBot-right-left-inner .material-icons{
    z-index: 1;
    opacity: 0.9;
}

.movieCBot-right-left:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-40deg, #ff0000 0%, #00f000 100% );
    transform: translate3d(0px, 0px, 0) scale(1.23, 1.0);
    filter: blur(9px);
    opacity: 1;
    transition: opacity 0.3s;
    border-radius: 180px;
}


.movieCBot-right-left-center {
    color: rgb(68, 68, 68);
    font-weight: bold;
    font-size: .9375rem;
}
