.homePage-external{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    width: 100%;
    height: 100%;
}

.homePage-external .homePage-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage-external .homePage-logo img {
    max-width: 20%;
    min-width: 280px;
    height: auto;
}

.homePage-external .homePage-posts{
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    overflow-y:scroll;
    height: 100%;

}

.homePage-external .homePage-posts > * {
    margin-top: 10px;
}