.homePage-external{
    width: 100%;
    height: 100%;
}

.homePage-external .homePage-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homePage-external .homePage-logo img {
    max-width: 20%;
    min-width: 280px;
    height: auto;
}

.homePage-external .homePage-logo .homePage-logo-loading {
    min-width: 25px;
    position: absolute;
    bottom: 150px;
}

.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown {
    position: relative;
}

.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown .homePage-NavBar-bot-right-dropdown-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 130px;
    justify-content: space-between;
    background-color: white;
    color: #3b3b3b;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    padding: 1px 2px 1px 10px;
}
.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown .homePage-NavBar-bot-right-dropdown-btn:hover {
    cursor: pointer;
    user-select: none;
    opacity: 0.9;
}
.homePage-NavBar-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 800px;
}

@media only screen and (max-width: 900px) {
    .homePage-NavBar-bot {
        width: 80%;
        min-width: unset;
    }
}

.homePage-NavBar-bot .homePage-NavBar-bot-left{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.homePage-NavBar-bot .homePage-NavBar-bot-left button{
    border-radius: 25px;
    padding: 4px 10px;
    border: none;
    background-color: white;
    color: #3b3b3b;
    font-weight: 600;
    font-size: 14px;
}

.homePage-NavBar-bot .homePage-NavBar-bot-left button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown .homePage-NavBar-bot-right-dropdown-list{
    position: absolute;
    background-color: white;
    top: 28px;
    right: 0px;
    z-index:1;
    /* min-width: 112px; */
}

.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown .homePage-NavBar-bot-right-dropdown-list ul{
    margin: 0;
    padding: 0px;
    box-shadow: 0 9px 9px 0 rgb(0 0 0 / 9%), 0 23px 50px 0 rgb(0 0 0 / 34%);
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown .homePage-NavBar-bot-right-dropdown-list ul li {
    padding: 5px 30px 5px 20px;
}

.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown .homePage-NavBar-bot-right-dropdown-list ul li:first-child {
    padding: 10px 30px 5px 20px;
}

.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown .homePage-NavBar-bot-right-dropdown-list ul li:last-child{
    padding: 5px 30px 10px 20px;
}
.homePage-NavBar-bot .homePage-NavBar-bot-right .homePage-NavBar-bot-right-dropdown .homePage-NavBar-bot-right-dropdown-list ul li:hover {
    color: #727272;
    cursor: pointer;
}

.homePage-external .homePage-posts{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:scroll;
    height: 100%;
    width: 100%;
}

.homePage-external .homePage-posts > * {
    margin-top: 10px;
}


.chevronButton {
    margin: 0;
    /* padding: 0 10px 0 0; */
    background: none;
    border-style: none;
    border-color: rgb(73, 64, 64);
    cursor: pointer;
    height: max-content;
    width: max-content;
    display: flex;
    padding-top: 15px;
}

.chevron-item {
    margin: 0;
    padding: 5px;
    color: rgba(0, 0, 0, 0.596);
    background-color: #FFD3D3;
    font-size: 35px !important; /*change this to make smaller */
    font-weight: lighter;
    border-style: none;
    box-shadow: 0 9px 9px 0 rgb(0 0 0 / 9%), 0 23px 50px 0 rgb(0 0 0 / 34%);
    border-radius: 32px;
}
.chevron-item.add {
    background-color: #5dfd57;
}

.chevronButton:disabled {
    opacity: 40%;
    cursor: not-allowed;
}

.Homepage-chevronBtn{
    position: absolute;
    bottom: 30px;
    right: 40px;
}